@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

a {
    margin: 0 4px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

button{
    cursor: pointer;
}

/* navigation */

.nav{
    width: 100%;
    height: 80px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.nav_logo{
    font-size: 20px;
    font-weight: 700;
}
.nav_logo {
    font-size: 20px;
    font-weight: 700;
}
.nav_link {
    margin: 0 4px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.nav_link_button{
    padding: 8px 12px;
    border-radius: 9999px;
    border: none;
    color: red;
    font-size: 16px;
    background-color: white;
    font-weight: 700;
}
/* Header */
#home{
    height: 50vh;
    color:white;
    background-image: url('assets/header-image.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

.home_title{
    font-size: 60px;
}

.home_paragraph{
    max-width: 400px;
}

.home_button{
    padding: 8px 12px;
    border-radius: 9999px;
    border: none;
    color: red;
    font-size: 16px;
    background-color: white;
    font-weight: 700;
}

/* about us */

#about{
    padding: 40px 16px;
    display: flex;
    gap: 20px;
}

.about_image{
    width: 40%;
    border-radius: 4px;
}

.about_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.about_title{
    font-size: 32px;
}

.about_button{
    width: 120px;
    padding: 12px 0;
    background-color: red;
    border-radius:9999px;
    color: white;
    font-weight: 700;
    border: none;
}
/* menu */

#menu{
    padding: 40px 16px;
    gap: 20px;
    display: flex;
}

.menu_image{
    width: 40%;
    border-radius: 4px;
}

.menu_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.menu_title{
    font-size: 32px;
}

.menu_button{
    width: 120px;
    padding: 12px 0;
    background-color: red;
    border-radius:9999px;
    color: white;
    font-weight: 700;
    border: none;
}

/* contact */

#contact{
    padding: 40px 16px;
    gap: 16px;
}

.contact_title{
    font-size: 32px;
}

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact_form_input,
.contact_form_textarea{
    height: 32px;
    padding: 0px 8px;
}

.contact_form_textarea{
    height: 128px;
    resize:vertical; 
    padding: 8px;
    min-width: 100%;
    max-width: 100%;
}

.contact_form_button{
    height: 120px;
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    transition: 200ms ease-in;
    margin-top: 8px;
}

.contact_form_button:hover{
    background-color: white;
    color: red;
    border: 1px solid red;

}

/* footer */
.footer{
    height: 64px;
    background-color: red;
    padding: 0 16 px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_link{
    font-weight: 700;
}

/* tablets */

@media (max-width: 760px){
    .about_title,
    .menu_title,
    .contact_title{
        font-size: 24px;
    }

    .about_paragraph,
    .menu_paragraph{
        font-size: 12px;
    }
}

@media(max-width: 480px){
    .nav_link:not(:last-child){
    display: none;
    }
    #about, 
    #menu{
        flex-direction: column-reverse;
        align-items: center;
    }
    .about_wrapper
    .menu_wrapper{
        align-items: center;
        text-align: center;
    }

    .about_image,
    .menu_image{
        width: 100%;
    }
}
